body{
width: 100%;
height: 100%;
background-color:rgb(48,48,48)
}
.top_header{
    width: 100%;
    height: 10%;
}
.mid_section{
    width: 100%;
    height: 90%;
}

.viewSection{
    background-color: rgb(60, 60, 60) !important;
}
.head{
    text-align: center;
}
.container input{
    margin: 0px auto;
}
md-input-container .md-input{
    height: 42px !important;
}
.mainContent{
    width: 50%;
    /* text-align: center; */
    margin: 0px auto;
    padding-left: 10%;
}
md-card.md-docs-dark-theme{
    float: left;
}
md-card.md-docs-dark-theme .md-card-image{
    width: 250px;
    height: 250px;
}
.img_box{
    width: 100%;
    height: 100%;
    padding-left:3%; 
}
h1 small{
    font-size: 12px !important;
    float: right;
    padding-right: 3%;
}
.logo{
    width: 100% !important;
    height: 100%  !important;
}
.logo img{
    width: 80px !important;
    height: 80px !important;
}
.md-subheader.md-docs-dark-theme{
    width: 100% !important;
    height: 100%  !important
}
.md-subheader .md-subheader-inner{
    padding: 0px !important;
    width: 100% !important;
    height: 100%  !important
}
.md-subheader .md-subheader-content{
    width: 100% !important;
    height: 100%  !important
}

.style-white-frame{
    background-color:rgb(60, 60, 60) !important; 
    color:rgba(255,255,255,0.6);
    margin: 5px;
    width: auto;
    height: auto;
}
.style-white-frame span a{
    text-decoration: none;
    color:rgba(255,255,255,0.6);
}
.style-white-frame span a:hover{
    color:rgb(0,150,136);
    cursor: pointer;
}
.searchkeywordStyle{
    height: 100%;
    width: 100%;
    margin: 0px auto;
}
.loader{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}