<div class="container" flex[10]>
    <md-content id="content" class="viewSection" layout-padding flex>
        <div layout-gt-sm="row" class="mainContent">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Google Images</label>
                <input ng-model="googleImages">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <md-button class="md-raised md-primary" ng-click="searchImage(googleImages)">Search</md-button>
            </md-input-container>
        </div>

    </md-content>
</div>
<div class="container" flex[90]>
    <md-content class="md-padding" layout="row" layout-xs="column">
        <div class="img_box">
            <h1>{{googleImages}}
                <small ng-if="allimages.length > 0">Total Image {{allimages.length}} </small>
            </h1>
            <br>
            <md-card flex[25] ng-repeat="img in allimages">
                <a ng-href="{{img.url}}" target="_blank">
                    <img ng-src="{{img.url}}" id="my-canvas" class="md-card-image" alt="{{googleImages}} ">
                </a>
            </md-card>
        </div>
    </md-content>
</div>